@import '../../../../../../assets/styles/setup';

.results {

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  &__side {
    //flex: 0 0 185px;

    @include media-breakpoint-up(sm) {
      flex: 0 0 45%;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 185px;
    }

    @include media-breakpoint-between(lg, xl) {
      flex: 1;
    }
  }

  &__sideItem {
    border-bottom: 1px solid $grey-100;
    padding-bottom: 0.5rem;
    margin-bottom: 0.938rem;

    @include media-breakpoint-up(sm) {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &:not(:last-of-type) {
      @include media-breakpoint-up(sm) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__title {
    font-size: $fs-sm;
    font-weight: $fw-semi;
    color: $darken;
    margin-bottom: 0.313rem;
    margin-right: 2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0.5rem;
    }
  }

  &__sideResult {
    font-size: $fs-small;
    color: $gray-200;
    line-height: $lh-standard;
    padding: 0.313rem 1rem;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
    cursor: pointer;
    @include transition-time-fastest;

    @include media-breakpoint-up(sm) {
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      padding: 0.5rem 1rem;
    }

    @include media-breakpoint-between(lg, xl) {
      margin-right: -1rem;
    }

    @include media-breakpoint-up(md) {
      margin-left: -1rem;
    }

    &:hover,
    &:active {
      background-color: rgba($accent-color, 0.2);
    }

    span {
      color: $darken;
    }
  }

  &__sideInline {
    display: inline;
  }

  &__popular {
    @include media-breakpoint-up(sm) {
      padding-left: 1.25rem;
      border-left: 1px solid $grey-100;
      flex: 1;
    }

    @include media-breakpoint-up(md) {
      padding-left: 1.313rem;
    }

    @include media-breakpoint-between(lg, xl) {
      display: none;
    }
  }

  &__items {
    margin-top: 0.625rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    font-size: $fs-small;
    padding: 0.5rem 1rem 0.5rem 1.25rem;
    cursor: pointer;
    margin-left: -1.25rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    @include transition-time-fastest;

    @include media-breakpoint-up(sm) {
      margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0.625rem;
      margin-left: -1.313rem;
      padding-left: 1.313rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 0;
    }

    &:hover,
    &:active {
      background-color: rgba($accent-color, 0.2);
    }
  }

  &__contentItem {
    padding-right: 1rem;

    @include media-breakpoint-up(md) {
      max-width: 210px;
    }
  }

  &__image {
    margin-right: 0.5rem;

    flex: 0 0 42px;

    @include media-breakpoint-up(xxl) {
      flex: 0 0 60px;
    }

    // for lazy load fix
    > span {
      display: flex !important;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    @include media-breakpoint-up(xxl) {
      padding-right: 0.5rem;
    }
  }

  &__code {
    font-size: 0.5rem;
    color: $gray-200;
    margin-bottom: 0.313rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0.75rem;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 0.5rem;
      margin-bottom: 0.313rem;
    }
  }

  &__name {
    font-size: $fs-small;

    // 2 column text overflow
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: none;
  }

  &__priceOld {
    color: $gray-200;
    font-size: 0.5rem;
    font-weight: $fw-bold;
    margin-bottom: 0.313rem;
    text-decoration-line: line-through;
  }

  &__priceCurrent {
    color: $darken;
    font-size: $fs-small;
    font-weight: $fw-bold;
  }

  &__showAll {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 4.75rem;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      margin-top: 0.5rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-right: 0.5rem;
    }
  }

  &__showAllBtn {
    @include media-breakpoint-down(sm) {
      font-size: 0.875rem !important;
      width: 100%;
      display: block;
      padding: 0.719rem !important;
    }
  }
}