@import '../../assets/styles/setup';

.stars {
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    label {
      margin: 0 0.5px;
    }
  }

  &__count {
    font-size: $fs-small;
    line-height: $lh-xl;
    color: $gray-200;
    margin-left: 0.25rem;
  }
}