@import '../../assets/styles/setup';

.banner {
  margin: 0.938rem 0 0;
  display: flex;

  @include media-breakpoint-up(lg) {
    margin: 1rem 0 0;
  }

  &__menu {
    @include transition-time-fastest;
  }
}

[visible-menu] {
  .banner {
    &__menu {
      opacity: 0;
      visibility: hidden;
    }
  }
}