@import '../../../../assets/styles/setup';

.logo {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
    line-height: $lh-small;
  }

  @include media-breakpoint-up(xl) {
    align-items: center;
  }

  a {
    cursor: pointer;
    @include transition-time-fastest;

    @include media-breakpoint-up(lg) {
      line-height: 0;
    }

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 3.438rem;
  }
}
