@import '../../assets/styles/setup';

.benefits {
  margin-bottom: 1.25rem;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.938rem 0;

    @include media-breakpoint-up(sm) {
      gap: 1rem;
      max-width: 38rem;
      margin: 0 auto;
      justify-content: space-between;
    }

    @include media-breakpoint-up(md) {
      max-width: 61.125rem;
      gap: 0.938rem 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      max-width: 73.625rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 98.625rem;
    }
  }

  &__item {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 11rem;

    @include media-breakpoint-up(sm) {
      width: 31%;
      max-width: 12rem;
    }

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  &__icon {
    width: 4.125rem;
    height: 4.125rem;
    margin-bottom: 1rem;
    color: $accent-color;
  }

  &__subtitle {
    font-size: 1rem;
    line-height: $lh-xl;
    color: $darken;
  }
}
